<html>

<body>
<div>
    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <input type="submit" value="Sign Out"/>
    </form>
</div>
<div>
    <form method="post">
        <input type="text" name="name" placeholder="Введите пользователя" />
        <input type="number" name="age" placeholder="Возраст">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <button type="submit">Добавить</button>
    </form>
</div>
<div>Список пользователей</div>
<form method="post" action="personsfilter">
    <input type="text" name="personsfilter">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    <button type="submit">Фильтровать по имени</button>
</form>
{{#persons}}
    <div>
        <b>{{id}}</b>
        <span>{{name}}</span>
        <i>{{age}}</i>
    </div>
{{/persons}}
</body>
</html>